<div>
  <nav class="navbar navbar-light" style="background-color: #fa8221;">
    <a class="navbar-brand"><h1>AIRFLYR</h1></a>
  <div class="links-container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="color: white; font-weight: bold;">VUELOS</a>
        </li>
      </ul>
  </div>
  <div class="links-container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="color: white; font-weight: bold;">HOTELES</a>
        </li>
      </ul>
  </div>
  <div class="links-container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="color: white; font-weight: bold;">MAPA DE RUTAS</a>
        </li>
      </ul>
  </div>
  <div class="links-container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: white; font-weight: bold;">OFERTAS DE VUELOS</a>
      </li>
    </ul>
  </div>
      <div class="login-container">
          <button class="btn btn-primary">Iniciar Sesión</button>
      </div>
  </nav>
</div>
